@font-face {
  font-family: 'IBM VGA8';
  src: url('Web437_IBM_VGA_8x16.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    background: url('https://sadhost.neocities.org/images/tiles/background.gif') repeat;
    font-family: 'IBM VGA8', monospace;
    color: #c9c8c8;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #00ff00;
    /*position: fixed;
    width: 100%;*/

}

header h1 {
    margin: 0;
    text-shadow: 2px 2px grey;
}

.subtitle {
    font-size: large;
    color: #0f0;
}

nav a {
    color: #ff00ff;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
    text-shadow: 0 0 5px yellow;
}

.box {
    background: rgba(0, 0, 0, 1);
    border: 3px double #ff00ff;
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 7px 7px grey;
    
    /* image-rendering: pixelated; */
    font-smooth: never;
    -webkit-font-smoothing: none;
    image-rendering: crisp-edges;
}

h2 {
    color: cyan;
    border-bottom: 2px solid cyan;
    text-shadow: 2px 2px grey;

}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile img {
    width: 120px;
    border: 2px solid #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
}

.time {
    display: flex;   
    gap: 20px;
    margin: 20px;

    border-bottom: grey 2px dashed;

    img {
        width: 10%;
        height: 10%;
        filter: drop-shadow(0 0 2px yellow);     
        transition: filter 0.5s ease-in-out; /* Animate the box-shadow */
    }
    img:hover{
        filter: drop-shadow(0 0 10px yellow);     
    }

    .univ {
        margin: 3px;
        color: yellow;
    }

    .degree {
        margin: 3px;
        font-weight: bold;
        font-size: large;
        color: white;
        text-shadow: 0 0 5px white;
    }
    .college {
        margin:3px;
        color: #00ff00;
    }

    .info {
        margin: 0px;
    }
    a {
        color: #ff00ff;
        text-decoration: none;
    }
    a:hover{
        color: yellow;
        text-shadow: 0 0 5px yellow;
    }

    white {
        color: white;
    }
}
.time .details{
    display: flex;
    flex-direction: column;
}

.timeline {
    list-style: none;
}

.timeline li {
    display: flex;
    margin-bottom: 10px;
}

.timeline .date {
    min-width: 120px;
    font-weight: bold;
    color: yellow;
}

a {
    color: #ff00ff;
}

a:hover {
    color: #ffff00;
}

footer {
    background: black;
    padding: 5px;
    text-align: center;
    border-top: 3px solid #00ff00;
    color: #00ff00;
}
