@font-face {
  font-family: 'IBM VGA8';
  src: url('Web437_IBM_VGA_8x16.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    background: url('./assets/images/background.gif') repeat;
    font-family: 'IBM VGA8', monospace;
    color: #c9c8c8;
    margin: 0;
    padding: 0;
}


header {
    background: black;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #00ff00;
    /*position: fixed;
    width: 100%;*/

}

header h1 {
    margin: 0;
    text-shadow: 2px 2px grey;
}

.subtitle {
    font-size: large;
    color: #0f0;
}

nav a {
    color: #ff00ff;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
    text-shadow: 0 0 5px yellow;
}


.box {
    background: rgba(0, 0, 0, 1);
    border: 3px double #ff00ff;
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 7px 7px grey;
    
    /* image-rendering: pixelated; */
    font-smooth: never;
    -webkit-font-smoothing: none;
    image-rendering: crisp-edges;
}

h2 {
    color: cyan;
    border-bottom: 2px solid cyan;
    text-shadow: 2px 2px grey;

}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile img {
    width: 120px;
    border: 2px solid #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
}

.time {
    display: flex;
    gap: 20px;
    margin: 20px;
    border-bottom: grey 2px dashed;
    padding-bottom: 20px;
    .prof{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        transition: filter 0.5s ease-in-out; /* Animate the box-shadow */
    }

    img:hover{
        filter: drop-shadow(0 0 10px yellow);    
    }

    img.aun {
        width: 80px;
        height: 120px;
        filter: drop-shadow(0 0 4px yellow);
    }

    img.aun:hover{
        filter: drop-shadow(0 0 10px yellow);    
    }
    img.bua {
        width: 150px;
        height: 150px;
        filter: drop-shadow(0 0 1px  rgb(0, 140, 255));     
    }

    img.bua:hover{
        filter: drop-shadow(0 0 10px rgb(0, 140, 255));
    }


    img.voy {
        width: 100px;
        height: 100px;
        filter: drop-shadow(0 0 1px  rgb(40, 44, 151));     
    }

    img.voy:hover{
        filter: drop-shadow(0 0 20px rgb(40, 44, 151));
    }


    .univ {
        margin: 3px;
        color: yellow;
    }


    .degree {
        margin: 3px;
        font-weight: bold;
        font-size: large;
        color: white;
        text-shadow: 0 0 5px white;
    }
    .college {
        margin:3px;
        color: #00ff00;
    }

    .info {
        margin: 0px;
    }

    .year{
        background-color: blue;
        color: yellow;
        align-self: flex-end;
        padding: 2px;
    }
    a {
        color: #ff00ff;
        text-decoration: none;
    }
    a:hover{
        color: yellow;
        text-shadow: 0 0 5px yellow;
    }



    .details {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.white {
        color: white;
}
.publication {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-bottom: grey 2px dashed;
    
    .title {
        margin: 3px;
        font-weight: bold;
        font-size: large;
        color: white;
    }

    .authors{
        margin: 3px;
    }

    .venue{
        margin: 3px;
        color: #00ff00;
    }

    .year{
        background-color: blue;
        color: yellow;
        align-self: flex-end;
        padding: 2px;
    }

    auth {
        color: white;
    }

    details {
        margin-bottom: 10px;
    }
    summary{
        color: yellow;
        text-shadow: 0 0 5px white;
        cursor: pointer;
    }


}

    a {
        color: #ff00ff;
        text-decoration: none;
    }
    a:hover{
        color: yellow;
        text-shadow: 0 0 5px yellow;
    }


footer {
    background: black;
    padding: 5px;
    text-align: center;
    border-top: 3px solid #00ff00;
    color: #00ff00;
}


em {
    color: white;
    text-shadow: 0 0 5px white;
    font-style: normal;
}

@media (max-width: 600px) {
    .profile, .time {
        flex-direction: column;
        text-align: center;
    }

    .profile img, .time img {
        margin: 0 auto;
    }
}